.icon
    width: 20px
    height: 12px
    display: inline-block
    margin-right: 12px
    vertical-align: middle
    background-repeat: no-repeat !important
    background-position: center !important
    background-size: contain !important

.fill-icon
    fill: $main-color-subtitles
    transition: fill .2s ease-in-out
    
.icon-titled
    svg
        margin-right: 12px
    &:hover
        .fill-icon
            fill: $main-color-gradient-in
            transition: fill .2s ease-in-out