header.container
    .row.header-top-first
        .left-menu.col-6
            span.icon-titled.ch-view-mode#glasses Версия для слабовидящих
            a.icon-titled#levels(href="#") Сравнение товаров
            .social
                a.icon#instagram(href="#")
                a.icon#twiter(href="#")
                a.icon#vk(href="#")
        .right-menu.ml-auto
            a(href="#") 
                span Оплата
            a(href="#") 
                span Доставка
            a(href="#") 
                span Обмен
    .row.header-top-second
            .left-menu.col-12.col-md-6
                a(href="#")
                    img.logo(src="img/logo.svg", alt="Main page")
                a(href="tel:88184529633").phone (8184) 52-96-33
            .right-menu.ml-auto
                form.header-search(action="")
                    input.search-area(type="search", name="search",  placeholder="Искать")
                    input.search-button(type="button")
                a.icon-titled-befre#sign_up-in(href="#") Вход/Регистрация
                a.icon-titled-befre#card(href="#") Корзина